{% extends "base.html"%}

{% block start %}

<div class="container mt-5">
    <h1 class="text-center" style="color: black;">Client Registration</h1>
    <form method="post" action="{% url 'Register' %}" enctype="multipart/form-data" class="shadow-lg p-4">
        {% csrf_token %}
        <div class="form-group">
            <label for="client_name" style="color: black;">Client Name:</label>
            <input type="text" id="client_name" name="client_name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="client_address" style="color: black;">Address:</label>
            <textarea id="client_address" name="client_address" rows="4" class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <label for="client_area" style="color: black;">Area:</label>
            <input type="text" id="client_area" name="client_area" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="client_phno" style="color: black;">Phone Number:</label>
            <input type="tel" id="client_phno" name="client_phno" class="form-control" pattern="\d{10}" maxlength="10" required>
            <small class="form-text text-muted">Please enter a 10-digit phone number.</small>
        </div>
        <div class="form-group">
            <label for="client_service_date" style="color: black;">Date Of Service:</label>
            <input type="date" id="client_service_date" name="client_service_date" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="client_staff" style="color: black;">Staff Name:</label>
            <input type="text" id="client_staff" name="client_staff" class="form-control" required>
        </div>
        <div class="form-group">
            <label style="color: black;">Payment Mode:</label>
            <div class="form-check">
                <input type="radio" id="cash" name="client_paymentmode" value="cash" class="form-check-input" checked>
                <label for="cash" class="form-check-label" style="color: black;">Cash</label>
            </div>
            <div class="form-check">
                <input type="radio" id="online" name="client_paymentmode" value="online" class="form-check-input">
                <label for="online" class="form-check-label" style="color: black;">Online</label>
            </div>
        </div>
        <button type="submit" class="clients_button btn btn-success btn-block">Add Client</button>
    </form>
</div>


{% endblock %}