{% extends "base.html"%}

{% block start %}
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
<div class="search-container" style="border: 2px solid #333; padding: 40px; margin: 30px auto;">
    <form action="/search/" method="get">
        {% csrf_token %}
        <label for="name">Search Client Details: </label>
        <input type="text" id="search" name="query" placeholder="Enter Details">
        <button type="submit">Search</button>
    </form>
</div>
</div>

{% endblock %}

